<div class="modal-container">
  <div class="modal-box">
    <img class="community-img" src="https://via.placeholder.com/150" />
    <h1 class="community-name">Comunidade</h1>
    <p class="community-desc"><span>Descrição: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin proin sit orci, cras turpis vitae mattis non id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin proin sit orci, cras turpis vitae mattis non id.</p>
    <ul class="post-stats-container">
      <li>
        <span>8347 membros</span>
      </li>
      <li>
        <span>18 chats</span>
      </li>
    </ul>
    <div class="close-modal" (click)="closeModal()">
      <img src="/assets/icon/fechar.svg" alt="Fechar" />
    </div>
  </div>
</div>