<ion-content fullscreen>
  <div id="container" *ngIf="comunidades">
    <div class="welcome-container">
      <h1 class="title">Comunidades</h1>
      <p class="subtitle">Acesse aqui alguma comunidade que você faz parte.</p>
    </div>

    <div style="margin-top: 130px;"></div>

    <!-- right click = (contextmenu) -->
    <div class="community-card" *ngFor="let comunidade of comunidades" (click)="presentActionSheet(comunidade.id)">
      <ion-thumbnail slot="start" style="margin-right: 10px;">
        <img style="filter: hue-rotate(330deg);" class="community-img" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ comunidade.nome }}</h2>
        <p *ngIf="comunidade.descricao">{{ comunidade.descricao }}</p>
        <p *ngIf="!comunidade.descricao">{{ comunidade.assuntos }}</p>
      </ion-label>
    </div>

    <div *ngIf="comunidades && comunidades.length < 1" class="community-card">
      <ion-label>
        <h2 style="margin-bottom: 5px; font-size: 20px;">Ops!</h2>
        <p>Parece que você não participa de nenhuma comunidade ainda.</p>
        <p style="margin-top: 15px; font-size: 13px; color: #a4bae2;">Participe agora clicando no botão "+".</p>
      </ion-label>
    </div>


    <div *ngIf="!comunidades">
      <ion-item *ngFor="let i of [].constructor(7)" style="--background: transparent; --padding-start: 0; --padding-end: 0; margin-bottom: 10px;" lines="none" mode="ios">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </div>

  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/criarcomunidade']">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-toolbar>
  <ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab-bar slot="bottom" style="--background: #050b18; --border: 0px;">
      <ion-tab-button [routerLink]="['/inicio']" routerDirection="back"
        style="background: #F91550; border-top-left-radius: 30px;">
        <img style="filter: drop-shadow(2px 4px 8px #081b46);" src="/assets/icon/home.svg" />
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/comunidades']" style="background: #F91550;">
        <img style="filter: drop-shadow(2px 4px 8px #081b46);" src="/assets/icon/feed.svg" />
      </ion-tab-button>

      <ion-tab-button style="background: #F91550;">
        <img style="filter: drop-shadow(2px 4px 8px #081b46);" src="/assets/icon/chats.svg" />
        <ion-badge color="dark">6</ion-badge>
      </ion-tab-button>

      <ion-tab-button style="background: #F91550; border-top-right-radius: 30px;">
        <img style="filter: drop-shadow(2px 4px 8px #081b46);" src="/assets/icon/amigos.svg" />
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
