<ion-content [fullscreen]="true">
  <div id="container">
    <div class="login-container">
      <hr/>
      <h1>Login</h1>
      <ion-input placeholder="Email" style="--background: rgba(255, 242, 242, 0.4); --color: #777777;" type="email"
        inputmode="email"></ion-input>
      <ion-input placeholder="Senha" style="--background: rgba(255, 242, 242, 0.4); --color: #777777;" type="password">
        <ion-icon class="eye-password" size="small" name="eye-outline"></ion-icon>
      </ion-input>
      <p class="forgot-password">Esqueceu sua senha?</p>
      <div class="button-container">
        <ion-button expand="full" shape="round" strong="true" color="danger">Entrar</ion-button>
      </div>
      <p class="new-here">Novo por aqui? <span style="color: #F91550;">Registre-se</span></p>
    </div>
  </div>
</ion-content>
