#container {
  background-color: #050B18;
  background-image: url('/assets/wallpaper-new.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}

#container * {
  user-select: none;
}

#container .login-container {
  position: absolute;
  top: 20px;
  padding: 20px;
  width: 100%;
}

#container .login-container .logo-container {
  width: 100%;
  text-align: center;
}

#container .login-container .logo-container .logo {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

#container .login-container h1 {
  color: #F91550;
  font-family: 'Roboto';
  font-weight: bold;
  margin-bottom: 0!important;
}

#container .login-container .subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px!important;
  margin-bottom: 25px!important;
  color: #CECECE;
}

#container ion-input {
  background: rgba(31, 36, 48, 0.8);
  border: 1px solid rgba(61, 61, 61, 0.3);
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 3px 10px!important;
  margin-bottom: 10px!important;
  color: white;
  position: relative;
}

#container ion-input input::placeholder {
  color: #777777!important;
}

#container ion-input input {
  width: calc(100% - 35px);
}

#container .eye-password {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  color: rgba(249, 21, 80, 0.8);
  padding: 10px;
  cursor: pointer;
}

#container .forgot-password {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #a1a1a1;
  text-align: right;
}

#container .button-container {
  width: 100%;
  max-width: 65%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

#container .new-here {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #D5D5D5;
  text-align: center;
  margin-bottom: 0!important;
  position: absolute;
  bottom: 25px;
  width: 100%;
}

