<ion-content [fullscreen]="true">
  <div id="container">
    <div class="login-container">
      <div class="logo-container">
        <img class="logo" src="/assets/logo.png" />
      </div>
      <h1>Login</h1>
      <p class="subtitle">Preencha suas informações para entrar.</p>

        <ion-input placeholder="Email" type="email"
          inputmode="email"></ion-input>

        <ion-input class="password-input" style="--margin-right: 35px;" placeholder="Senha" [type]="showPassword ? 'text' : 'password'" clearOnEdit="false" >
            <ion-icon (click)="togglePassword()" class="eye-password" size="small" [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-input>

      <p class="forgot-password">Esqueceu sua senha?</p>
      <div class="button-container">
        <ion-button style="outline: none;" [routerLink]="['/inicio']" expand="full" shape="round" strong="true" color="danger">Entrar</ion-button>
      </div>
    </div>
    <p class="new-here">Novo por aqui? <span style="color: #F91550; outline: none;" [routerLink]="['/registrar']" >Registre-se</span></p>
  </div>
</ion-content>
